$primary-color: #000;
$accent-color: #000;
$accent-color-hover: #000;
$base-color: #fff;
$element-color: #000;
$element-light-color: #000;
$ui-dark: #000;
$ui-light: #000;
$active-color: #000;

$font: 'Montserrat', sans-serif;
